
body {
    background-color:wheat;

font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 h1, h2 {
    color:crimson;
}

p {
    color:rgb(131, 79, 26);
}

h3 {
    color: coral;
}

hr {
    color:salmon;
}

ol {
    color: sienna;
}